<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.antique.muzi.mbg.mapper.CmsOrderMaternityHotelsMapper">
  <resultMap id="BaseResultMap" type="com.antique.muzi.mbg.model.CmsOrderMaternityHotels">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="member_detail_id" jdbcType="INTEGER" property="memberDetailId" />
    <result column="is_expired" jdbcType="INTEGER" property="isExpired" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="delete_status" jdbcType="INTEGER" property="deleteStatus" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, member_detail_id, is_expired, create_time, delete_status
  </sql>
  <select id="selectByExample" parameterType="com.antique.muzi.mbg.model.CmsOrderMaternityHotelsExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from cms_order_maternity_hotels
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from cms_order_maternity_hotels
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from cms_order_maternity_hotels
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.antique.muzi.mbg.model.CmsOrderMaternityHotelsExample">
    delete from cms_order_maternity_hotels
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.antique.muzi.mbg.model.CmsOrderMaternityHotels">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into cms_order_maternity_hotels (member_detail_id, is_expired, create_time, 
      delete_status)
    values (#{memberDetailId,jdbcType=INTEGER}, #{isExpired,jdbcType=INTEGER}, #{createTime,jdbcType=TIMESTAMP}, 
      #{deleteStatus,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.antique.muzi.mbg.model.CmsOrderMaternityHotels">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into cms_order_maternity_hotels
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="memberDetailId != null">
        member_detail_id,
      </if>
      <if test="isExpired != null">
        is_expired,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="deleteStatus != null">
        delete_status,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="memberDetailId != null">
        #{memberDetailId,jdbcType=INTEGER},
      </if>
      <if test="isExpired != null">
        #{isExpired,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="deleteStatus != null">
        #{deleteStatus,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.antique.muzi.mbg.model.CmsOrderMaternityHotelsExample" resultType="java.lang.Long">
    select count(*) from cms_order_maternity_hotels
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update cms_order_maternity_hotels
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.memberDetailId != null">
        member_detail_id = #{record.memberDetailId,jdbcType=INTEGER},
      </if>
      <if test="record.isExpired != null">
        is_expired = #{record.isExpired,jdbcType=INTEGER},
      </if>
      <if test="record.createTime != null">
        create_time = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.deleteStatus != null">
        delete_status = #{record.deleteStatus,jdbcType=INTEGER},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update cms_order_maternity_hotels
    set id = #{record.id,jdbcType=INTEGER},
      member_detail_id = #{record.memberDetailId,jdbcType=INTEGER},
      is_expired = #{record.isExpired,jdbcType=INTEGER},
      create_time = #{record.createTime,jdbcType=TIMESTAMP},
      delete_status = #{record.deleteStatus,jdbcType=INTEGER}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.antique.muzi.mbg.model.CmsOrderMaternityHotels">
    update cms_order_maternity_hotels
    <set>
      <if test="memberDetailId != null">
        member_detail_id = #{memberDetailId,jdbcType=INTEGER},
      </if>
      <if test="isExpired != null">
        is_expired = #{isExpired,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="deleteStatus != null">
        delete_status = #{deleteStatus,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.antique.muzi.mbg.model.CmsOrderMaternityHotels">
    update cms_order_maternity_hotels
    set member_detail_id = #{memberDetailId,jdbcType=INTEGER},
      is_expired = #{isExpired,jdbcType=INTEGER},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      delete_status = #{deleteStatus,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>